.unlicensed-theme {
    position: relative;
}

.unlicensed-theme .block {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    vertical-align: middle;
    background-color: rgba(250,250,250,0.8);
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    border-radius: 3px;
}
.unlicensed-theme .block p {
    color: #fff;
    font-size: 22px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 20px;
    margin: 100px 20px 0 20px;
    border-radius: 5px;
    text-align: center;
}
.unlicensed-theme .block a{
    color: #fff;
}

.unlicensed-theme .redux-container * {
    pointer-events: none;
}

[id^=buddyboss_theme_options-] .ui-icon {
    display: none;
}